.app__about 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

.app__about-info 
{
    display: flex;
}

.app__about-info h1 span
{
    color: var(--color-golden);
    font-family: var(--font-base);
}

.app__about-info h1 
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.app__about-info p 
{
    font-size: 1.2rem;
}

.app__about-info .soical .s
{
    margin: .5rem;
    cursor: pointer;
    color: var(--color-black);
    font-size: 1rem;
}



@media screen and (max-width:768px) {
    .app__about
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.app__about-info 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.app__about-info h1 
{
    flex-direction: row;
    margin-bottom: 1rem;
}
.app__about-info h1 span
{
    margin-left: 1rem;
    margin-right: 1rem;
}
.app__about-info p
{
    margin-bottom: 1rem;
}
}

@media screen and (max-width:1150px) {
        .app__about
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }
    .app__about-info 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .app__about-info h1 
    {
        flex-direction: row;
        margin-bottom: 1rem;
    }
    .app__about-info h1 span
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .app__about-info p
    {
        margin-bottom: 1rem;
    }
}